/* src/index.css */
@import "tailwindcss";

/* If you have custom Wordle colors, define them here */
@theme { 
  --font-sans: "Inter Variable", ui-sans-serif, system-ui, sans-serif;
  
  --color-correct: #538d4e;
  --color-present: #b59f3b;
  --color-absent: #3a3a3c;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}